body {
    margin: 0;
}

header {
    background-color:black; 
    color: white;
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: space-around;
}

header a {
    color: white;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding: 10px;
}
.div-tipos {
    background-color: antiquewhite;
    height: 40px;
    display:flex;
    justify-content: space-around; 
    align-items:center;
    margin-bottom: 50px
}
.div-tipos a {
    color: black;
    font-size: larger;
    text-decoration: none;
}
.thumb {
    width: 350px;
    border-radius: 10px;
}
.cards {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}
.card {
    border: 1.5px solid black;
    background-color: #ededed;
    border-radius: 10px;
}   
.title {
    font-size: 60px;
    font-family: sans-serif;
    cursor: pointer;
}   
.nav-bar {
    height: 20px;
    width: 200px;
}

.container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.bi-search {
    cursor: pointer;
    font-size: 20px;
}
.formulario_signin {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.formulario_signin input {
    width: 350px;
    height: 20px;
    border: 2px black solid;
}
.formulario_signup {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.formulario_signup input {
    width: 350px;
    height: 20px;
    border: 2px black solid
}
.botao_signin {
    background-color: black;
    color: #ededed;
    border: 0px;
    height: 45px;
    width: 80px;
    border-radius: 60px;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.botao_signup {
    background-color: black;
    color: #ededed;
    border: 0px;
    height: 45px;
    width: 80px;
    border-radius: 60px;
    font-size: 14px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
